In [2]:
1+1

2

In [4]:
'MY name is '

'MY name is '

In [6]:
MU

NameError: name 'MU' is not defined

In [8]:
'M'

'M'

In [26]:
"Hello"

'Hello'

In [13]:
"jkkk'k"

"jkkk'k"

In [15]:
x="l"

In [17]:
x

'l'

In [19]:
print(x)

l

In [22]:
my=['1',2]

In [24]:
my

['1', 2]

In [27]:
my.append(3)

In [29]:
my

['1', 2, 3, 3]

In [31]:
my[3]

3

In [33]:
d={'k':1}

In [35]:
d[k]

NameError: name 'k' is not defined

In [37]:
d['k']

1

In [39]:
d{4:44}

SyntaxError: invalid syntax (<ipython-input-39-a7bfab9e6e09>, line 1)

In [41]:
s={1,2,3,4}

In [43]:
s

{1, 2, 3, 4}

In [45]:
a={1,1,1,1,1}

In [47]:
a

{1}

In [50]:
if (1==2):
    print('Hi')
elif (3==3):
    print('Hello')
else:
    print('What')

Hello

In [61]:
seq=[1,2,3]
for i in range(1,5):
    print("I Love J")

aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa

In [63]:
def myF(x):
    print(x)

In [65]:
myF("Soumya")

Soumya

In [67]:
times3(3)

NameError: name 'times3' is not defined

In [69]:
def times3(var):
    return var**3

In [75]:
times3(9)

729

In [73]:
seq=[1,2,3,4,5]

In [76]:
list(map(times3,seq))

[1, 8, 27, 64, 125]

In [78]:
x=lambda p:p*3

In [80]:
x(100)

300

In [84]:
z=list(map(lambda x:x*3,seq))
print(z)

[3, 6, 9, 12, 15]